<footer class="footer">
    <div class="container-xl d-flex justify-content-between py-20 align-items-center">
        <a class="imgBox" href="./index.html"><img src="../assets/images/logo-2.png"></a>
        <p>© 2023 風來了就彎腰</p>
    </div>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>