<footer class="footer">
    <div class="container-xl d-flex flex-column flex-sm-row justify-content-between py-20 align-items-center">
        <a class="imgBox" href="./index.html"><img src="../assets/images/logo-2.png"></a>
        <p class="fs-16">© 2023 Lisa Shark Studio</p>
    </div>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>