<header>
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="imgBox"><img src="../assets/images/logo-01.png"></div>
            <ul class="d-flex align-items-center">
                <li><a href="">我的抽卡</a></li>
                <li><a href="">管理卡冊</a></li>
                <li><a href="#">心理資源</a></li>
            </ul>
            <div class="login">
                <button type="button">登出</button>
                <a class="member" href="#">我的帳號</a>
            </div>
        </div>

    </div>
</header>


<h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>